<html>
<head>
	<title></title>

  <!-- Meta tags -->

  <!-- Asset pipeline -->
	<%= stylesheet_tag 'application' %>
  <%= javascript_tag 'application' %>

  <!-- Typekit fonts -->
  <script src="//use.typekit.net/lke5dgb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body>
	<%= yield %>
</body>
</html>