<div class="container">

  <form id="new-job">

    <h1>Share a new job</h1>

    <p>We encourage you to think about the words you choose. Look out for <a href="http://www.hiremorewomenintech.com/">gendered wording</a>, and keep in mind that words like  "Rockstar" and "Ninja" doesn't necessarily attract the best talent. This starts with the job title, where something personal like "UI designer for small health care startup working on iOS app" is better than a generic "Designer needed".</p>

    <a href="#" class="btn">Edit</a>&nbsp;&nbsp;<a href="#" class="btn">Preview</a>

    <input type="text" class="lg full" placeholder="Job Title" />

    <textarea class="codemirrorify">Write your job description here. We support markdown.

- A list item
- Another list item

[A link to](http://something.com)</textarea>

    <p>A small checklist for you: Did you describe what's great about the workplace, not just the work duties? Did you encourage women and minorities to apply?</p>

    <input type="submit" value="Save job" />

  </form>

</div>